.product {
    display: flex;
    flex-direction: column;
    /* border: 1px solid var(--tg-theme-button-color); */
    padding: 15px;
    width: 170px;
    /* background: rgba(186, 186, 186, 0.755); */
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    border-radius: 10%;
    margin-top: 10px;
}


.img {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background: red;
    border-radius: 10%;
}
.title{
    margin-top: 10px;
    margin-left: 5px;
}
.description {
    font-size: 0.8em;
    margin-left: 5px;
}
.price{
    margin-left: 5px;
}
.add-btn {
    width: 100%;
    /* background: rgb(206, 210, 255); */
    /* box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49); */
    /* box-shadow: 0px 7px 48px 5px rgba(0, 0, 0, 0.19); */
    background: var(--tg-theme-button-color);
    color: #000;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 5px;
}