@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #478af5;
  font-family: 'Montserrat', sans-serif;
}

body{
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}